body, heml {
  margin: 0; }

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #81BEF7;
  -webkit-animation: bigger 10s infinite linear;
          animation: bigger 10s infinite linear; }

.trains {
  display: flex;
  position: absolute;
  left: 100%;
  bottom: 30%;
  height: 225px;
  -webkit-animation: train 10s infinite linear;
          animation: train 10s infinite linear; }

.train {
  width: 460px;
  height: 180px;
  position: relative;
  background-color: #E7E6E6;
  margin-right: 28px; }
  .train:not(:last-child)::after {
    width: 20px;
    height: 140px;
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 30px;
    background-color: #333; }

.roof {
  width: 100%;
  height: 22px;
  background-color: #A8ABAB;
  position: absolute;
  bottom: 100%;
  border-radius: 10px 10px 0 0; }
  .roof::before, .roof::after {
    width: 24%;
    background-color: #C4C6C6;
    height: 16px;
    display: block;
    content: "";
    position: absolute;
    bottom: 100%;
    border-radius: 8px 8px 0 0; }
  .roof::before {
    left: 60px; }
  .roof::after {
    right: 60px; }

.line {
  width: 100%;
  height: 20px;
  background-color: #8ACB46;
  position: absolute; }
  .line-big {
    height: 40px;
    bottom: 22px; }

.window {
  background-color: #64A4D6;
  border-radius: 6px; }
  .window-small {
    height: 64px;
    width: 38px; }
  .window-big {
    height: 64px;
    width: 60px; }
    .window-big:first-child {
      margin-right: 10px; }
  .window-door {
    height: 72px;
    width: 24px; }

.windows {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  display: flex;
  top: 40px; }
  .windows-small {
    justify-content: space-between;
    padding: 0 20px; }
  .windows-big {
    justify-content: center; }

.doors {
  width: 100%;
  height: 154px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 66px;
  box-sizing: border-box; }

.door {
  box-sizing: border-box;
  padding-top: 10px;
  width: 90px;
  height: 100%;
  display: flex;
  background-color: #E7E6E6;
  justify-content: space-around;
  border-radius: 6px 6px 0 0;
  border-top: 4px solid #A8ABAB;
  border-right: 4px solid #A8ABAB;
  border-left: 4px solid #A8ABAB;
  position: relative; }
  .door::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #A8ABAB; }

.floor {
  width: 100%;
  height: 24px;
  background-color: #333;
  position: absolute;
  top: 100%;
  display: flex;
  box-sizing: border-box; }

.wheel-wrapper {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between; }

.wheels {
  width: 110px;
  display: flex;
  justify-content: space-between; }

.wheel {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: #333;
  position: relative; }
  .wheel::after {
    width: 60%;
    height: 60%;
    border-radius: 50px;
    background-color: #444;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.box {
  background-color: #333;
  position: absolute;
  width: 40px;
  height: 30px; }
  .box-small {
    left: 180px; }
  .box-big {
    left: 250px; }

.ground {
  width: 100%;
  height: 30%;
  bottom: 0;
  position: absolute;
  background-color: #0B2161; }

.linear {
  width: 70%;
  height: 6px;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(217, 222, 72, 0.4);
  left: -100%; }
  .linear1 {
    top: calc(100% / 16 * 1);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .linear2 {
    top: calc(100% / 16 * 2);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 5s;
            animation-delay: 5s; }
  .linear3 {
    top: calc(100% / 16 * 3);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .linear4 {
    top: calc(100% / 16 * 4);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }
  .linear5 {
    top: calc(100% / 16 * 5);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 5s;
            animation-delay: 5s; }
  .linear6 {
    top: calc(100% / 16 * 6);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 6s;
            animation-delay: 6s; }
  .linear7 {
    top: calc(100% / 16 * 7);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .linear8 {
    top: calc(100% / 16 * 8);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 4s;
            animation-delay: 4s; }
  .linear9 {
    top: calc(100% / 16 * 9);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .linear10 {
    top: calc(100% / 16 * 10);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 5s;
            animation-delay: 5s; }
  .linear11 {
    top: calc(100% / 16 * 11);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .linear12 {
    top: calc(100% / 16 * 12);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .linear13 {
    top: calc(100% / 16 * 13);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .linear14 {
    top: calc(100% / 16 * 14);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 6s;
            animation-delay: 6s; }
  .linear15 {
    top: calc(100% / 16 * 15);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .linear16 {
    top: calc(100% / 16 * 16);
    -webkit-animation-name: line;
            animation-name: line;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 4s;
            animation-delay: 4s; }

@-webkit-keyframes line {
  from {
    left: -100%; }
  to {
    left: 100%; } }

@keyframes line {
  from {
    left: -100%; }
  to {
    left: 100%; } }

@-webkit-keyframes train {
  10% {
    left: 100%; }
  20% {
    left: 40%; }
  60% {
    left: 50%; }
  100% {
    left: -2500px; } }

@keyframes train {
  10% {
    left: 100%; }
  20% {
    left: 40%; }
  60% {
    left: 50%; }
  100% {
    left: -2500px; } }

@-webkit-keyframes bigger {
  60% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3); } }

@keyframes bigger {
  60% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3); } }
