html, body {
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
  animation: color 5s infinite alternate linear;
}

.planets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180%;
  min-height: 680px;
  transform-origin: 90px 50%;
  animation: rotate 10s infinite linear;
}

.sun {
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 6px solid #8A4B08;
  background-color: #FFBF00;
  position: relative;
}

.eye {
  width: 24px;
  height: 24px;
  background-color: #8A4B08;
  border-radius: 15px;
  position: absolute;
  top: 68px;

  &-right {
    right: 36px;
  }

  &-left {
    left: 36px;
  }
}

.sunbeams {
  width: 340px;
  height: 340px;
  right: -86px;
  top: -86px;
  position: absolute;
  animation: rotate 5s infinite linear;
}

.beam {
  width: 8px;
  height: 40px;
  background-color: #8A4B08;
  position: absolute;
  left: 166px;
  top: 24px;
  transform-origin: 4px 146px;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      transform: rotate(#{$i * 45}deg);
    }
  }
}


.moon {
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 6px solid #81BEF7;
  background-color: #A9D0F5;
  position: relative;
  transform: rotate(180deg);
}

.ground {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: #FFBF00;
  border-top: 6px solid #8A4B08;
  animation: color 5s infinite alternate linear;
}

.moai {
  width: 170px;
  position: absolute;
  transition: .3s;
  top: -50px;
}

#moai {
  visibility: hidden;
  position: absolute;

  &:checked {

     ~ .button {
      &::after {
        display: none;
      }

      &::before {
        display: block;
      }
    }
    + .moai {
      top: -300px;

      @media screen and (max-width: 768px) {
          top: -240px;
      }
    }
  }
}

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 4px solid #8A4B08;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8A4B08;
  font-weight: bold;

  &::after {
    display: block;
    position: absolute;
    content: "up!";
    font-size: 30px;
  }

  &::before {
    display: none;
    position: absolute;
    content: "down";
    font-size: 30px;
  }
}

.moai-label {
  position: absolute;
  bottom: 80px;
  height: 50px;
}


@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes color {
  from {
    background-color: #FFBF00;
    border-color: #8A4B08;
  }
  to {
    background-color: #81BEF7;
    border-color: #A9D0F5;
  }
}
