$brown: #946304;
$white: #fffddd;
$yellow: #f4cd48;
$grey: #62647c;
$sky: #b5b5c5;
$orange: #da8334;
$red: #8b360f;
$mad: #b47c41;
$blue: #172943;
$skin: #fecd99;
$eye: #0053ca;
$dark: #414141;
$middle: #737572;
$light: #bebebe;
$s-white: #fff;

.crowd {
  transform: translate(0px, -100px) scale(2);
  background: $black;
  width: 5px;
  height: 5px;
  animation: 
    walk 1s step-end alternate infinite;
    // walk2 1s linear .5s infinite;
  position: relative;

  
}

.crowd2 {
  transform: translate(-300px, -100px) scale(2);
  background: $black;
  width: 5px;
  height: 5px;
}

@keyframes walk {
  0% {
    top: 4px;
    left: -10px;
    box-shadow: 
    0 15px $brown,
    0 20px $black,
    0 60px $black,
    0 65px $black,
    0 70px $black,

    5px 0 $white,
    5px 5px $black,
    5px 15px $yellow,
    5px 20px $brown,
    5px 25px $black,
    5px 30px $black,
    5px 35px $black,
    5px 55px $black,
    5px 60px $grey,
    5px 65px $sky,
    5px 70px $grey,
    5px 75px $black,
    5px 95px $black,
    5px 100px $black,

    10px 0 $yellow,
    10px 5px $white,
    10px 10px $black,
    10px 15px $brown,
    10px 20px $black,
    10px 25px $yellow,
    10px 30px $white,
    10px 35px $yellow,
    10px 40px $black,
    10px 50px $black,
    10px 55px $orange,
    10px 60px $black,
    10px 65px $red,
    10px 70px $red,
    10px 75px $black,
    10px 95px $black,
    10px 100px $red,
    10px 105px $black,

    15px 0 $brown,
    15px 5px $white,
    15px 10px $yellow,
    15px 15px $black,
    15px 20px $yellow,
    15px 25px $brown,
    15px 30px $brown,
    15px 35px $black,
    15px 40px $black,
    15px 45px $black,
    15px 50px $blue,
    15px 55px $black,
    15px 60px $black,
    15px 65px $black,
    15px 70px $black,
    15px 75px $black,
    15px 95px $black,
    15px 100px $mad,
    15px 105px $black,

    20px 0 $black,
    20px 5px $yellow,
    20px 10px $yellow,
    20px 15px $yellow,
    20px 20px $brown,
    20px 25px $orange,
    20px 30px $skin,
    20px 35px $skin,
    20px 40px $skin,
    20px 45px $skin,
    20px 50px $black,
    20px 55px $blue,
    20px 60px $grey,
    20px 65px $grey,
    20px 70px $blue,
    20px 75px $black,
    20px 80px $black,
    20px 85px $black,
    20px 90px $black,
    20px 95px $black,
    20px 100px $red,
    20px 105px $red,
    20px 110px $black,

    25px 0 $black,
    25px 5px $brown,
    25px 10px $yellow,
    25px 15px $brown,
    25px 20px $brown,
    25px 25px $skin,
    25px 30px $black,
    25px 35px $eye,
    25px 40px $eye,
    25px 45px $skin,
    25px 50px $skin,
    25px 55px $blue,
    25px 60px $grey,
    25px 65px $blue,
    25px 70px $mad,
    25px 75px $sky,
    25px 80px $black,
    25px 85px $blue,
    25px 90px $black,
    25px 95px $red,
    25px 100px $black,
    25px 105px $black,
    25px 110px $black,

    30px 5px $brown,
    30px 10px $brown,
    30px 15px $white,
    30px 20px $yellow,
    30px 25px $brown,
    30px 30px $black,
    30px 35px $white,
    30px 40px $white,
    30px 45px $orange,
    30px 50px $black,
    30px 55px $blue,
    30px 60px $blue,
    30px 65px $grey,
    30px 70px $blue,
    30px 75px $red,
    30px 80px $blue,
    30px 85px $grey,
    30px 90px $grey,
    30px 95px $black,
    30px 100px $mad,
    30px 105px $red,
    30px 110px $mad,

    35px 0px $black,
    35px 5px $yellow,
    35px 10px $brown,
    35px 15px $yellow,
    35px 20px $white,
    35px 25px $white,
    35px 30px $yellow,
    35px 35px $yellow,
    35px 40px $brown,
    35px 45px $brown,
    35px 50px $black,
    35px 55px $mad,
    35px 60px $red,
    35px 65px $black,
    35px 70px $black,
    35px 75px $black,
    35px 80px $blue,
    35px 85px $grey,
    35px 90px $blue,
    35px 95px $blue,
    35px 100px $red,
    35px 105px $black,
    35px 110px $black,

    40px 0px $black,
    40px 5px $yellow,
    40px 10px $yellow,
    40px 15px $brown,
    40px 20px $brown,
    40px 25px $brown,
    40px 30px $brown,
    40px 35px $brown,
    40px 40px $orange,
    40px 45px $black,
    40px 50px $mad,
    40px 55px $red,
    40px 60px $black,
    40px 65px $sky,
    40px 70px $sky,
    40px 75px $grey,
    40px 80px $black,
    40px 85px $blue,
    40px 90px $blue,
    40px 95px $black,
    40px 100px $black,

    45px 0px $black,
    45px 5px $brown,
    45px 10px $yellow,
    45px 15px $yellow,
    45px 20px $brown,
    45px 25px $yellow,
    45px 30px $black,
    45px 35px $skin,
    45px 40px $orange,
    45px 45px $black,
    45px 50px $blue,
    45px 55px $blue,
    45px 60px $black,
    45px 65px $red,
    45px 70px $mad,
    45px 75px $red,
    45px 80px $black,
    45px 85px $blue,
    45px 90px $black,
    45px 95px $blue,
    45px 100px $black,

    50px 5px $black,
    50px 10px $yellow,
    50px 15px $brown,
    50px 20px $white,
    50px 25px $brown,
    50px 30px $brown,
    50px 35px $black,
    50px 40px $black,
    50px 45px $blue,
    50px 50px $grey,
    50px 55px $sky,
    50px 60px $blue,
    50px 65px $black,
    50px 70px $red,
    50px 75px $blue,
    50px 80px $black,
    50px 85px $black,
    50px 90px $blue,
    50px 95px $red,
    50px 100px $black,
    50px 105px $black,
    50px 110px $black,

    55px 5px $black,
    55px 10px $brown,
    55px 15px $yellow,
    55px 20px $white,
    55px 25px $brown,
    55px 30px $yellow,
    55px 35px $brown,
    55px 40px $black,
    55px 45px $grey,
    55px 50px $sky,
    55px 55px $blue,
    55px 60px $orange,
    55px 65px $grey,
    55px 70px $grey,
    55px 75px $black,
    55px 80px $black,
    55px 85px $blue,
    55px 90px $black,
    55px 95px $black,
    55px 100px $red,
    55px 105px $mad,
    55px 110px $black,

    60px 10px $black,
    60px 15px $white,
    60px 20px $black,
    60px 25px $yellow,
    60px 30px $black,
    60px 35px $black,
    60px 40px $black,
    60px 45px $grey,
    60px 50px $sky,
    60px 55px $orange,
    60px 60px $white,
    60px 65px $skin,
    60px 70px $orange,
    60px 75px $black,
    60px 85px $black,
    60px 90px $red,
    60px 95px $red,
    60px 100px $red,
    60px 105px $black,
    60px 110px $black,

    65px 15px $black,
    65px 25px $black,
    65px 45px $black,
    65px 50px $grey,
    65px 55px $black,
    65px 60px $orange,
    65px 65px $orange,
    65px 70px $black,
    65px 85px $black,
    65px 90px $red,
    65px 95px $black,
    65px 100px $black,

    70px 50px $black,
    70px 60px $black,
    70px 65px $black,
    70px 90px $black,
    70px 95px $black,

  }
  6% {
    top: 0;
    box-shadow: 
    0 15px $brown,
    0 20px $black,
    0 60px $black,
    0 65px $black,
    0 70px $black,

    5px 0 $white,
    5px 5px $black,
    5px 15px $yellow,
    5px 20px $brown,
    5px 25px $black,
    5px 30px $black,
    5px 35px $black,
    5px 55px $black,
    5px 60px $grey,
    5px 65px $sky,
    5px 70px $grey,
    5px 75px $black,

    10px 0 $yellow,
    10px 5px $white,
    10px 10px $black,
    10px 15px $brown,
    10px 20px $black,
    10px 25px $yellow,
    10px 30px $white,
    10px 35px $yellow,
    10px 40px $black,
    10px 50px $black,
    10px 55px $orange,
    10px 60px $black,
    10px 65px $red,
    10px 70px $red,
    10px 75px $black,

    15px 0 $brown,
    15px 5px $white,
    15px 10px $yellow,
    15px 15px $black,
    15px 20px $yellow,
    15px 25px $brown,
    15px 30px $brown,
    15px 35px $black,
    15px 40px $black,
    15px 45px $black,
    15px 50px $blue,
    15px 55px $black,
    15px 60px $black,
    15px 65px $black,
    15px 70px $black,
    15px 75px $black,
    15px 105px $black,
    15px 110px $black,

    20px 0 $black,
    20px 5px $yellow,
    20px 10px $yellow,
    20px 15px $yellow,
    20px 20px $brown,
    20px 25px $orange,
    20px 30px $skin,
    20px 35px $skin,
    20px 40px $skin,
    20px 45px $skin,
    20px 50px $black,
    20px 55px $blue,
    20px 60px $grey,
    20px 65px $grey,
    20px 70px $blue,
    20px 75px $black,
    20px 80px $black,
    20px 85px $black,
    20px 100px $black,
    20px 105px $red,
    20px 110px $black,

    25px 0 $black,
    25px 5px $brown,
    25px 10px $yellow,
    25px 15px $brown,
    25px 20px $brown,
    25px 25px $skin,
    25px 30px $black,
    25px 35px $eye,
    25px 40px $eye,
    25px 45px $skin,
    25px 50px $skin,
    25px 55px $blue,
    25px 60px $grey,
    25px 65px $blue,
    25px 70px $mad,
    25px 75px $sky,
    25px 80px $black,
    25px 85px $grey,
    25px 90px $black,
    25px 95px $black,
    25px 100px $black,
    25px 105px $mad,
    25px 110px $black,

    30px 5px $brown,
    30px 10px $brown,
    30px 15px $white,
    30px 20px $yellow,
    30px 25px $brown,
    30px 30px $black,
    30px 35px $white,
    30px 40px $white,
    30px 45px $orange,
    30px 50px $black,
    30px 55px $blue,
    30px 60px $blue,
    30px 65px $grey,
    30px 70px $blue,
    30px 75px $red,
    30px 80px $blue,
    30px 85px $blue,
    30px 90px $blue,
    30px 95px $red,
    30px 100px $black,
    30px 105px $red,
    30px 110px $black,

    35px 0px $black,
    35px 5px $yellow,
    35px 10px $brown,
    35px 15px $yellow,
    35px 20px $white,
    35px 25px $white,
    35px 30px $yellow,
    35px 35px $yellow,
    35px 40px $brown,
    35px 45px $brown,
    35px 50px $black,
    35px 55px $mad,
    35px 60px $red,
    35px 65px $black,
    35px 70px $black,
    35px 75px $black,
    35px 80px $blue,
    35px 85px $blue,
    35px 90px $black,
    35px 95px $black,
    35px 100px $black,
    35px 105px $black,
    35px 110px $red,
    35px 115px $black,

    40px 0px $black,
    40px 5px $yellow,
    40px 10px $yellow,
    40px 15px $brown,
    40px 20px $brown,
    40px 25px $brown,
    40px 30px $brown,
    40px 35px $brown,
    40px 40px $orange,
    40px 45px $black,
    40px 50px $mad,
    40px 55px $red,
    40px 60px $black,
    40px 65px $sky,
    40px 70px $sky,
    40px 75px $grey,
    40px 80px $black,
    40px 85px $grey,
    40px 90px $grey,
    40px 95px $blue,
    40px 100px $red,
    40px 105px $black,
    40px 110px $mad,
    40px 115px $black,

    45px 0px $black,
    45px 5px $brown,
    45px 10px $yellow,
    45px 15px $yellow,
    45px 20px $brown,
    45px 25px $yellow,
    45px 30px $black,
    45px 35px $skin,
    45px 40px $orange,
    45px 45px $black,
    45px 50px $blue,
    45px 55px $blue,
    45px 60px $black,
    45px 65px $red,
    45px 70px $mad,
    45px 75px $red,
    45px 80px $black,
    45px 85px $blue,
    45px 90px $grey,
    45px 95px $blue,
    45px 100px $mad,
    45px 105px $black,
    45px 110px $red,
    45px 115px $black,

    50px 5px $black,
    50px 10px $yellow,
    50px 15px $brown,
    50px 20px $white,
    50px 25px $brown,
    50px 30px $brown,
    50px 35px $black,
    50px 40px $black,
    50px 45px $blue,
    50px 50px $grey,
    50px 55px $sky,
    50px 60px $blue,
    50px 65px $black,
    50px 70px $red,
    50px 75px $blue,
    50px 80px $black,
    50px 85px $blue,
    50px 90px $blue,
    50px 95px $black,
    50px 100px $red,
    50px 105px $red,
    50px 110px $black,
    50px 115px $black,

    55px 5px $black,
    55px 10px $brown,
    55px 15px $yellow,
    55px 20px $white,
    55px 25px $brown,
    55px 30px $yellow,
    55px 35px $brown,
    55px 40px $black,
    55px 45px $grey,
    55px 50px $sky,
    55px 55px $blue,
    55px 60px $orange,
    55px 65px $grey,
    55px 70px $grey,
    55px 75px $black,
    55px 80px $black,
    55px 85px $blue,
    55px 90px $blue,
    55px 95px $black,
    55px 100px $black,
    55px 105px $red,
    55px 110px $red,
    55px 115px $black,

    60px 10px $black,
    60px 15px $white,
    60px 20px $black,
    60px 25px $yellow,
    60px 30px $black,
    60px 35px $black,
    60px 40px $black,
    60px 45px $grey,
    60px 50px $sky,
    60px 55px $orange,
    60px 60px $white,
    60px 65px $skin,
    60px 70px $orange,
    60px 75px $black,
    60px 85px $black,
    60px 90px $black,
    60px 105px $black,
    60px 110px $black,
    60px 115px $black,

    65px 15px $black,
    65px 25px $black,
    65px 45px $black,
    65px 50px $grey,
    65px 55px $black,
    65px 60px $orange,
    65px 65px $orange,
    65px 70px $black,

    70px 50px $black,
    70px 60px $black,
    70px 65px $black,
  }
  50% {
    box-shadow: 
    -80px -40px $black,
    -80px -35px $black,
    -80px -30px $black,
    -80px -25px $black,
    -80px -20px $black,
    -80px -15px $black,
    -80px -10px $black,
    -80px -5px $black,
    -80px 0px $black,

    -75px -35px $black,
    -75px -30px $middle,
    -75px -25px $light,
    -75px -20px $light,
    -75px -15px $light,
    -75px -10px $light,
    -75px -5px $light,
    -75px 0px $light,
    -75px 5px $black,

    -70px -30px $black,
    -70px -25px $middle,
    -70px -20px $light,
    -70px -15px $light,
    -70px -10px $light,
    -70px -5px $light,
    -70px 0px $light,
    -70px 5px $s-white,
    -70px 10px $black,

    -65px -25px $black,
    -65px -20px $dark,
    -65px -15px $middle,
    -65px -10px $middle,
    -65px -5px $middle,
    -65px 0px $middle,
    -65px 5px $s-white,
    -65px 10px $s-white,
    -65px 15px $black,

    -60px -20px $black,
    -60px -15px $dark,
    -60px -10px $middle,
    -60px -5px $middle,
    -60px 0px $middle,
    -60px 5px $middle,
    -60px 10px $s-white,
    -60px 15px $s-white,
    -60px 20px $black,

    -55px -15px $black,
    -55px -10px $dark,
    -55px -5px $middle,
    -55px 0px $middle,
    -55px 5px $middle,
    -55px 10px $middle,
    -55px 15px $s-white,
    -55px 20px $s-white,
    -55px 25px $black,

    -50px -10px $black,
    -50px -5px $dark,
    -50px 0px $middle,
    -50px 5px $middle,
    -50px 10px $middle,
    -50px 15px $middle,
    -50px 20px $s-white,
    -50px 25px $s-white,
    -50px 30px $black,

    -45px -5px $black,
    -45px 0px $dark,
    -45px 5px $middle,
    -45px 10px $middle,
    -45px 15px $middle,
    -45px 20px $middle,
    -45px 25px $s-white,
    -45px 30px $s-white,
    -45px 35px $black,

    -40px 0px $black,
    -40px 5px $dark,
    -40px 10px $middle,
    -40px 15px $middle,
    -40px 20px $middle,
    -40px 25px $middle,
    -40px 30px $s-white,
    -40px 35px $s-white,
    -40px 40px $black,

    -35px 5px $black,
    -35px 10px $dark,
    -35px 15px $middle,
    -35px 20px $middle,
    -35px 25px $middle,
    -35px 30px $middle,
    -35px 35px $s-white,
    -35px 40px $s-white,
    -35px 45px $black,

    -30px 10px $black,
    -30px 15px $dark,
    -30px 20px $middle,
    -30px 25px $dark,
    -30px 30px $s-white,
    -30px 35px $middle,
    -30px 40px $s-white,
    -30px 45px $s-white,
    -30px 50px $black,

    -25px 15px $black,
    -25px 20px $dark,
    -25px 25px $black,
    -25px 30px $dark,
    -25px 35px $middle,
    -25px 40px $middle,
    -25px 45px $s-white,
    -25px 50px $s-white,
    -25px 55px $black,
    -25px 60px $black,

    -20px 20px $black,
    -20px 25px $dark,
    -20px 30px $middle,
    -20px 35px $dark,
    -20px 40px $s-white,
    -20px 45px $middle,
    -20px 50px $black,
    -20px 55px $s-white,
    -20px 60px $middle,
    -20px 65px $black,

    -15px 25px $black,
    -15px 30px $dark,
    -15px 35px $black,
    -15px 40px $dark,
    -15px 45px $black,
    -15px 50px $s-white,
    -15px 55px $middle,
    -15px 60px $dark,
    -15px 65px $black,

    -10px 30px $black,
    -10px 35px $middle,
    -10px 40px $black,
    -10px 45px $middle,
    -10px 50px $middle,
    -10px 55px $dark,
    -10px 60px $black,
    
    -5px 35px $black,
    -5px 40px $middle,
    -5px 45px $black,
    -5px 50px $dark,
    -5px 55px $dark,
    -5px 60px $dark,
    -5px 65px $black,


    0 15px $brown,
    0 20px $black,
    0 35px $black,
    0 40px $dark,
    0 45px $dark,
    0 50px $black,
    0 55px $black,
    0 60px $black,
    0 65px $black,
    0 70px $black,

    5px 0 $white,
    5px 5px $black,
    5px 15px $yellow,
    5px 20px $brown,
    5px 25px $black,
    5px 30px $black,
    5px 35px $black,
    5px 40px $black,
    5px 45px $black,
    5px 55px $black,
    5px 60px $grey,
    5px 65px $sky,
    5px 70px $grey,
    5px 75px $black,
    5px 95px $black,
    5px 100px $black,

    10px 0 $yellow,
    10px 5px $white,
    10px 10px $black,
    10px 15px $brown,
    10px 20px $black,
    10px 25px $yellow,
    10px 30px $white,
    10px 35px $yellow,
    10px 40px $black,
    10px 50px $black,
    10px 55px $orange,
    10px 60px $black,
    10px 65px $red,
    10px 70px $red,
    10px 75px $black,
    10px 95px $black,
    10px 100px $red,
    10px 105px $black,

    15px 0 $brown,
    15px 5px $white,
    15px 10px $yellow,
    15px 15px $black,
    15px 20px $yellow,
    15px 25px $brown,
    15px 30px $brown,
    15px 35px $black,
    15px 40px $black,
    15px 45px $black,
    15px 50px $blue,
    15px 55px $black,
    15px 60px $black,
    15px 65px $black,
    15px 70px $black,
    15px 75px $black,
    15px 95px $black,
    15px 100px $mad,
    15px 105px $black,

    20px 0 $black,
    20px 5px $yellow,
    20px 10px $yellow,
    20px 15px $yellow,
    20px 20px $brown,
    20px 25px $orange,
    20px 30px $skin,
    20px 35px $skin,
    20px 40px $skin,
    20px 45px $skin,
    20px 50px $black,
    20px 55px $blue,
    20px 60px $grey,
    20px 65px $grey,
    20px 70px $blue,
    20px 75px $black,
    20px 80px $black,
    20px 85px $black,
    20px 90px $black,
    20px 95px $black,
    20px 100px $red,
    20px 105px $red,
    20px 110px $black,

    25px 0 $black,
    25px 5px $brown,
    25px 10px $yellow,
    25px 15px $brown,
    25px 20px $brown,
    25px 25px $skin,
    25px 30px $black,
    25px 35px $eye,
    25px 40px $eye,
    25px 45px $skin,
    25px 50px $skin,
    25px 55px $blue,
    25px 60px $grey,
    25px 65px $blue,
    25px 70px $mad,
    25px 75px $sky,
    25px 80px $black,
    25px 85px $blue,
    25px 90px $black,
    25px 95px $red,
    25px 100px $black,
    25px 105px $black,
    25px 110px $black,

    30px 5px $brown,
    30px 10px $brown,
    30px 15px $white,
    30px 20px $yellow,
    30px 25px $brown,
    30px 30px $black,
    30px 35px $white,
    30px 40px $white,
    30px 45px $orange,
    30px 50px $black,
    30px 55px $blue,
    30px 60px $blue,
    30px 65px $grey,
    30px 70px $blue,
    30px 75px $red,
    30px 80px $blue,
    30px 85px $grey,
    30px 90px $grey,
    30px 95px $black,
    30px 100px $mad,
    30px 105px $red,
    30px 110px $mad,

    35px 0px $black,
    35px 5px $yellow,
    35px 10px $brown,
    35px 15px $yellow,
    35px 20px $white,
    35px 25px $white,
    35px 30px $yellow,
    35px 35px $yellow,
    35px 40px $brown,
    35px 45px $brown,
    35px 50px $black,
    35px 55px $mad,
    35px 60px $red,
    35px 65px $black,
    35px 70px $black,
    35px 75px $black,
    35px 80px $blue,
    35px 85px $grey,
    35px 90px $blue,
    35px 95px $blue,
    35px 100px $red,
    35px 105px $black,
    35px 110px $black,

    40px 0px $black,
    40px 5px $yellow,
    40px 10px $yellow,
    40px 15px $brown,
    40px 20px $brown,
    40px 25px $brown,
    40px 30px $brown,
    40px 35px $brown,
    40px 40px $orange,
    40px 45px $black,
    40px 50px $mad,
    40px 55px $red,
    40px 60px $black,
    40px 65px $sky,
    40px 70px $sky,
    40px 75px $grey,
    40px 80px $black,
    40px 85px $blue,
    40px 90px $blue,
    40px 95px $black,
    40px 100px $black,

    45px 0px $black,
    45px 5px $brown,
    45px 10px $yellow,
    45px 15px $yellow,
    45px 20px $brown,
    45px 25px $yellow,
    45px 30px $black,
    45px 35px $skin,
    45px 40px $orange,
    45px 45px $black,
    45px 50px $blue,
    45px 55px $blue,
    45px 60px $black,
    45px 65px $red,
    45px 70px $mad,
    45px 75px $red,
    45px 80px $black,
    45px 85px $blue,
    45px 90px $black,
    45px 95px $blue,
    45px 100px $black,

    50px 5px $black,
    50px 10px $yellow,
    50px 15px $brown,
    50px 20px $white,
    50px 25px $brown,
    50px 30px $brown,
    50px 35px $black,
    50px 40px $black,
    50px 45px $blue,
    50px 50px $grey,
    50px 55px $sky,
    50px 60px $blue,
    50px 65px $black,
    50px 70px $red,
    50px 75px $blue,
    50px 80px $black,
    50px 85px $black,
    50px 90px $blue,
    50px 95px $red,
    50px 100px $black,
    50px 105px $black,
    50px 110px $black,

    55px 5px $black,
    55px 10px $brown,
    55px 15px $yellow,
    55px 20px $white,
    55px 25px $brown,
    55px 30px $yellow,
    55px 35px $brown,
    55px 40px $black,
    55px 45px $grey,
    55px 50px $sky,
    55px 55px $blue,
    55px 60px $orange,
    55px 65px $grey,
    55px 70px $grey,
    55px 75px $black,
    55px 80px $black,
    55px 85px $blue,
    55px 90px $black,
    55px 95px $black,
    55px 100px $red,
    55px 105px $mad,
    55px 110px $black,

    60px 10px $black,
    60px 15px $white,
    60px 20px $black,
    60px 25px $yellow,
    60px 30px $black,
    60px 35px $black,
    60px 40px $black,
    60px 45px $grey,
    60px 50px $sky,
    60px 55px $orange,
    60px 60px $white,
    60px 65px $skin,
    60px 70px $orange,
    60px 75px $black,
    60px 85px $black,
    60px 90px $red,
    60px 95px $red,
    60px 100px $red,
    60px 105px $black,
    60px 110px $black,

    65px 15px $black,
    65px 25px $black,
    65px 45px $black,
    65px 50px $grey,
    65px 55px $black,
    65px 60px $orange,
    65px 65px $orange,
    65px 70px $black,
    65px 85px $black,
    65px 90px $red,
    65px 95px $black,
    65px 100px $black,

    70px 50px $black,
    70px 60px $black,
    70px 65px $black,
    70px 90px $black,
    70px 95px $black,
  }
  70% {
    top: 0;
    box-shadow: 
    0 15px $brown,
    0 20px $black,
    0 60px $black,
    0 65px $black,
    0 70px $black,

    5px 0 $white,
    5px 5px $black,
    5px 15px $yellow,
    5px 20px $brown,
    5px 25px $black,
    5px 30px $black,
    5px 35px $black,
    5px 55px $black,
    5px 60px $grey,
    5px 65px $sky,
    5px 70px $grey,
    5px 75px $black,

    10px 0 $yellow,
    10px 5px $white,
    10px 10px $black,
    10px 15px $brown,
    10px 20px $black,
    10px 25px $yellow,
    10px 30px $white,
    10px 35px $yellow,
    10px 40px $black,
    10px 50px $black,
    10px 55px $orange,
    10px 60px $black,
    10px 65px $red,
    10px 70px $red,
    10px 75px $black,

    15px 0 $brown,
    15px 5px $white,
    15px 10px $yellow,
    15px 15px $black,
    15px 20px $yellow,
    15px 25px $brown,
    15px 30px $brown,
    15px 35px $black,
    15px 40px $black,
    15px 45px $black,
    15px 50px $blue,
    15px 55px $black,
    15px 60px $black,
    15px 65px $black,
    15px 70px $black,
    15px 75px $black,
    15px 105px $black,
    15px 110px $black,

    20px 0 $black,
    20px 5px $yellow,
    20px 10px $yellow,
    20px 15px $yellow,
    20px 20px $brown,
    20px 25px $orange,
    20px 30px $skin,
    20px 35px $skin,
    20px 40px $skin,
    20px 45px $skin,
    20px 50px $black,
    20px 55px $blue,
    20px 60px $grey,
    20px 65px $grey,
    20px 70px $blue,
    20px 75px $black,
    20px 80px $black,
    20px 85px $black,
    20px 100px $black,
    20px 105px $red,
    20px 110px $black,

    25px 0 $black,
    25px 5px $brown,
    25px 10px $yellow,
    25px 15px $brown,
    25px 20px $brown,
    25px 25px $skin,
    25px 30px $black,
    25px 35px $eye,
    25px 40px $eye,
    25px 45px $skin,
    25px 50px $skin,
    25px 55px $blue,
    25px 60px $grey,
    25px 65px $blue,
    25px 70px $mad,
    25px 75px $sky,
    25px 80px $black,
    25px 85px $grey,
    25px 90px $black,
    25px 95px $black,
    25px 100px $black,
    25px 105px $mad,
    25px 110px $black,

    30px 5px $brown,
    30px 10px $brown,
    30px 15px $white,
    30px 20px $yellow,
    30px 25px $brown,
    30px 30px $black,
    30px 35px $white,
    30px 40px $white,
    30px 45px $orange,
    30px 50px $black,
    30px 55px $blue,
    30px 60px $blue,
    30px 65px $grey,
    30px 70px $blue,
    30px 75px $red,
    30px 80px $blue,
    30px 85px $blue,
    30px 90px $blue,
    30px 95px $red,
    30px 100px $black,
    30px 105px $red,
    30px 110px $black,

    35px 0px $black,
    35px 5px $yellow,
    35px 10px $brown,
    35px 15px $yellow,
    35px 20px $white,
    35px 25px $white,
    35px 30px $yellow,
    35px 35px $yellow,
    35px 40px $brown,
    35px 45px $brown,
    35px 50px $black,
    35px 55px $mad,
    35px 60px $red,
    35px 65px $black,
    35px 70px $black,
    35px 75px $black,
    35px 80px $blue,
    35px 85px $blue,
    35px 90px $black,
    35px 95px $black,
    35px 100px $black,
    35px 105px $black,
    35px 110px $red,
    35px 115px $black,

    40px 0px $black,
    40px 5px $yellow,
    40px 10px $yellow,
    40px 15px $brown,
    40px 20px $brown,
    40px 25px $brown,
    40px 30px $brown,
    40px 35px $brown,
    40px 40px $orange,
    40px 45px $black,
    40px 50px $mad,
    40px 55px $red,
    40px 60px $black,
    40px 65px $sky,
    40px 70px $sky,
    40px 75px $grey,
    40px 80px $black,
    40px 85px $grey,
    40px 90px $grey,
    40px 95px $blue,
    40px 100px $red,
    40px 105px $black,
    40px 110px $mad,
    40px 115px $black,

    45px 0px $black,
    45px 5px $brown,
    45px 10px $yellow,
    45px 15px $yellow,
    45px 20px $brown,
    45px 25px $yellow,
    45px 30px $black,
    45px 35px $skin,
    45px 40px $orange,
    45px 45px $black,
    45px 50px $blue,
    45px 55px $blue,
    45px 60px $black,
    45px 65px $red,
    45px 70px $mad,
    45px 75px $red,
    45px 80px $black,
    45px 85px $blue,
    45px 90px $grey,
    45px 95px $blue,
    45px 100px $mad,
    45px 105px $black,
    45px 110px $red,
    45px 115px $black,

    50px 5px $black,
    50px 10px $yellow,
    50px 15px $brown,
    50px 20px $white,
    50px 25px $brown,
    50px 30px $brown,
    50px 35px $black,
    50px 40px $black,
    50px 45px $blue,
    50px 50px $grey,
    50px 55px $sky,
    50px 60px $blue,
    50px 65px $black,
    50px 70px $red,
    50px 75px $blue,
    50px 80px $black,
    50px 85px $blue,
    50px 90px $blue,
    50px 95px $black,
    50px 100px $red,
    50px 105px $red,
    50px 110px $black,
    50px 115px $black,

    55px 5px $black,
    55px 10px $brown,
    55px 15px $yellow,
    55px 20px $white,
    55px 25px $brown,
    55px 30px $yellow,
    55px 35px $brown,
    55px 40px $black,
    55px 45px $grey,
    55px 50px $sky,
    55px 55px $blue,
    55px 60px $orange,
    55px 65px $grey,
    55px 70px $grey,
    55px 75px $black,
    55px 80px $black,
    55px 85px $blue,
    55px 90px $blue,
    55px 95px $black,
    55px 100px $black,
    55px 105px $red,
    55px 110px $red,
    55px 115px $black,

    60px 10px $black,
    60px 15px $white,
    60px 20px $black,
    60px 25px $yellow,
    60px 30px $black,
    60px 35px $black,
    60px 40px $black,
    60px 45px $grey,
    60px 50px $sky,
    60px 55px $orange,
    60px 60px $white,
    60px 65px $skin,
    60px 70px $orange,
    60px 75px $black,
    60px 85px $black,
    60px 90px $black,
    60px 105px $black,
    60px 110px $black,
    60px 115px $black,

    65px 15px $black,
    65px 25px $black,
    65px 45px $black,
    65px 50px $grey,
    65px 55px $black,
    65px 60px $orange,
    65px 65px $orange,
    65px 70px $black,

    70px 50px $black,
    70px 60px $black,
    70px 65px $black,
  }
}