.wrapper {
  display: flex;
  height: 600px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-perspective: 500; }

.name {
  font-size: 48px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 50px;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px); }
  @media only screen and (max-width: 749px) {
    .name {
      font-size: 24px; } }

.cube {
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: .8s;
  position: relative; }
  .cube-top, .cube-bottom {
    width: 200px;
    height: 10px;
    position: absolute; }
  .cube-right, .cube-left {
    width: 10px;
    height: 200px;
    position: absolute; }
  .cube-top {
    top: -14px; }
  .cube-bottom {
    bottom: -36px; }
  .cube-right {
    right: -24px; }
  .cube-left {
    left: -24px; }

.front, .back, .right, .left, .top, .bottom {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  position: absolute;
  box-sizing: border-box;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.7); }

.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  background-image: url(./moai.svg); }

.back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
  background-image: url(./moai.svg); }

.right {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  left: 100px;
  background-image: url(./moai-metal.png); }

.left {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  right: 100px;
  background-image: url(./moai-abs.svg); }

.top {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  bottom: 100px;
  background-image: url(./moai-soft.svg); }

.bottom {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  top: 100px;
  background-image: url(./moai-ragh.png); }
